.nav-link:hover {
  color: #0a58ca !important;
}
#patti-logo {
  width: 800px;
  /* border: 2px solid red; */
}
.resNav {
  display: none;
}
@media (min-width: 280px) and (max-width: 768px) {
  .resNav {
    margin-top: 15px;
    display: block;
  }
  .header-bottom {
    display: none;
  }
  .accoutadd {
    margin-top: 15px;
    margin-right: 10px;
    float: right;
  }
  #patti-logo {
    width: 300px;
    /* border: 2px solid red; */
  }
}
